{% extends 'base.html' %}

{% block main %}
        {% if user.is_authenticated %}
        <div class="row mb-4 text-center">
            <div class="col" id="post_form">
                {% include 'post_form.html' %}
            </div>
        </div>


        <h2 class="display-6 text-center mb-4">Fediverse & Social network</h2>

    <div class="table-responsive">
      <table class="table text-center">
        <thead>
          <tr>
            <th style="width: 34%;"></th>
            <th style="width: 22%;">Maximum content length</th>
            <th style="width: 22%;">Maximum attached files</th>
            <th style="width: 22%;">Type of attached files</th>
          </tr>
        </thead>
        <tbody>
          <tr>
              {% if request.user.app.software == 'mastodon' %}
            <th scope="row" class="text-start">Mastodon<span class="badge bg-primary ms-2">Connected</span></th>
            <td>500 characters</td>
            <td>4</td>
            <td>Video/Music/Image/GIF</td>
            {% elif request.user.app.software == 'misskey' %}
                  <th scope="row" class="text-start">Misskey<span class="badge bg-primary ms-2">Connected</span>&nbsp;<a href="{% url 'webhook_settings' %}">⚙</a></th>
            <td>3000 characters</td>
            <td>16</td>
            <td>Video/Music/Image/GIF</td>
                  {% endif %}
          </tr>
          <tr>
              {% if social_network.plurk %}
              <th scope="row" class="text-start"><a href="{% url 'social_logout' 'plurk' %}" title="disconnect">Plurk</a><span class="badge bg-primary ms-2">Connected</span></th>
              {% else %}
              <th scope="row" class="text-start"><a href="{% url 'social_login' 'plurk' %}" title="connect Plurk">Plurk</a><span class="badge bg-danger ms-2">Disconnect</span></th>
              {% endif %}
            <td>360 characters</td>
            <td>Unlimited</td>
            <td>Image</td>
          </tr>
        </tbody>
      </table>
    </div>

        {% else %}
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
          <h1 class="display-4 fw-normal">Welcome!</h1>
          <p class="fs-5 text-muted">This service is designed to promote the Fediverse, by allowing you to cross post to social network and link back to your main Fediverse account.</p>
        </div>

        <div class="row mb-3 text-center justify-content-center">
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                  <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Instance's Domain</h4>
                      <small>Please enter the instance's domain you want to log in to. We only support Mastodon and Misskey for now.</small>
                  </div>
                  <div class="card-body">
                    <form class="form" method="post">
                    {% csrf_token %}
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="misskey.io" aria-label="instance's domain" name="instance">
                        </div>
                        <p>{{ form.instance.errors }}</p>
                        <p>{{ form.non_field_errors }}</p>
                        <button type="submit" class="btn btn-primary">
                          Login
                        </button>
                    </form>
                  </div>
                </div>
            </div>
        </div>
        {% endif %}
{% endblock %}

{% block bottom %}
    <script>
    let msg = "{{ alert }}"
    window.addEventListener('load', function () {
      if (typeof msg === "string" && msg.length !== 0) {
        alert(msg)
      }
    })
    </script>
{% endblock %}