                    <form class="form" action="{{ action }}" method="post">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="misskey.io" aria-label="instance's domain" name="instance">
                        </div>
                        <button type="submit" class="btn btn-primary">
                          Login
                        </button>
                    </form>